.main6-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    color: #000;
  }
  
  .main6-reviews-column {
    width: 60%;
  }
  
  .main6-secondary-column {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  
  .main6-crew-picks, .main6-popular-reviewers {
    margin-bottom: 20px;
  }
  
  .main6-crew-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .main6-crew-card {
    width: calc(33.33% - 10px);
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9em;
  }
  
  .main6-crew-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .main6-reviewer-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.7em;
  }
  
  .main6-reviewer-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .main6-reviewer-name {
    font-weight: bold;
  }
  
  .main6-reviewer-stats {
    color: #6c757d;
  }
  
  .main6-review-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }
  
  .main6-review-card img {
    width: 80px;
    height: 120px;
    border-radius: 8px;
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .main6-review-card h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  
  .main6-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .main6-rating {
    color: #ffaa3c;
    margin-right: 90px;
  }
  
  .main6-comment {
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .main6-likes {
    font-size: 0.8em;
    color: #6c757d;
  }
  
  .main6-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .main6-images img {
    width: calc(33.33% - 10px);
    border-radius: 8px;
  }
  